<%= form_for(@content,:url => content_block_contents_path(@content_block), validate: true) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation" class="change_error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :content_block_id,:value => @content_block.id %>
    <%= f.label :title,"Sub-Block Name" %><br>
    <%= f.text_field :title,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description,"Sub-Block Content" %><br>
    <%= f.cktext_area :description, :id => 'sometext' ,:placeholder => "Description",:class => "form light-form" %>
  </div><br/>
  <div class="field">
    <%= f.label :brief,"Brief Content" %><br>
    <%= f.text_field :brief,:class=>"form-control" %>
  </div><br/> 
  <div class="field">
    <%= f.label :opt1,"Option Variable 1" %><br>
    <%= f.text_field :opt1,:class=>"form-control" %>
  </div> 
  <div class="field">
    <%= f.label :opt2,"Option Variable 2" %><br>
    <%= f.text_field :opt2,:class=>"form-control" %>
  </div>   
  <div class="field">
    <%= f.label :opt3,"Option Variable 3" %><br>
    <%= f.text_field :opt3,:class=>"form-control" %>
  </div>  
  <div class="field">
    <%= f.label :opt4,"Block URL" %><br>
    <%= f.text_field :opt4,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :opt5,"Image URL" %><br>
    <%= f.text_field :opt5,:class=>"form-control" %>
  </div>  
  <br>   
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>



<script>
$(function() { $('form[data-validate]').validate(); })
</script>
<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>