<section class="content-header">
	<h1>
	  Sub-Block
	  <small>Manage & Create Sub-Blocks For Your Page</small>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
	  <li><%= link_to 'Page Block', content_blocks_path %></li>
	  <li><%= link_to @content.title, content_block_path(@content_block.slug) %></li>
	  <li class="active">New Sub-Block</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Sub-Block</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_for(@content,:url => content_block_content_path(@content_block,@content)) do |f| %>
				  <% if @content.errors.any? %>
				    <div id="error_explanation" class="change_error_explanation">
				      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

				      <ul>
				      <% @content.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				  <div class="field">
				    <%= f.label :title,"Sub-Block Name" %><br>
				    <%= f.text_field :title,:class=>"form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :description,"Sub-Block Content" %><br>
				    <%= f.cktext_area :description, :id => 'sometext' ,:placeholder => "Description",:class => "form light-form" %>
				  </div><br/>
				    <div class="field">
				    <%= f.label :brief,"Brief Content" %><br>
				    <%= f.cktext_area :brief, :id => 'sometext' ,:placeholder => "Brief",:class => "form light-form" %>
				  </div><br/> 
				  <div class="field">
				    <%= f.label :opt1,"Option Variable 1" %><br>
				    <%= f.text_field :opt1,:class=>"form-control" %>
				  </div> 
				  <div class="field">
				    <%= f.label :opt2,"Option Variable 2" %><br>
				    <%= f.text_field :opt2,:class=>"form-control" %>
				  </div>   
				  <div class="field">
				    <%= f.label :opt3,"Option Variable 3" %><br>
				    <%= f.text_field :opt3,:class=>"form-control" %>
				  </div>  
				  <div class="field">
				    <%= f.label :opt4,"Block URL" %><br>
				    <%= f.text_field :opt4,:class=>"form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :opt5,"Image URL" %><br>
				    <%= f.text_field :opt5,:class=>"form-control" %>
				  </div> 
				  <br>
				  <div class="actions">
				    <%= f.submit "Update",:class => "btn btn-primary pull-right" %>
				  </div>
				<% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>