<section class="content-header">
	<h1>
	  Sub-Block
	  <small>Manage & Create Sub-Blocks For Your Page</small>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Sub-Block', content_blocks_path %></li>
    <li><%= link_to @content_block.name, content_block_path(@content_block.slug) %></li>
	  <li class="active">New Sub-Block</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Create New Sub-Block</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= render 'form' %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->