<section class="content-header">
	<h1>
	  Sub Block
	  <small>Manage & Create Sub-Blocks For Your Page</small>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Home</a></li>
	  <li><%= link_to 'Sub-Block', content_blocks_path %></li>
	  <li><%= link_to @content.title, content_block_path(@content_block.slug) %></li>
	  <li class="active"><%= @content.title %></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= @content.title %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
      				<p><%= @content.description.html_safe %></p>
              <% if @content.brief.present?  %>
                <p><%= @content.brief.html_safe %></p>
              <% else %>
                <p><%= @content.brief %></p>
              <% end %>
              <p><%= @content.opt1 %></p>
              <p><%= @content.opt2 %></p>
              <p><%= @content.opt3 %></p>
              <p><%= @content.opt4 %></p>
              <p><%= @content.opt5 %></p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->