<%= form_for(@link_type, validate: true) do |f| %>
  <% if @link_type.errors.any? %>
    <div id="error_explanation" class="change_error_explanation">
      <h2><%= pluralize(@link_type.errors.count, "error") %> prohibited this link_type from being saved:</h2>

      <ul>
      <% @link_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Menu Items" %><br>
    <%= f.text_field :name,:class => "form-control" %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right"%>
  </div>
<% end %>



<script>
$(function() { $('form[data-validate]').validate(); })
</script>