<section class="content-header">
	<h1>
	  Menu Item
	  <small>Customize your page-menu display</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Menu Item', link_types_path %></li>
	  <li><%= link_to @link_type.name, link_type_path(@link_type) %></li>
	  <li class="active">Edit Menu Item</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Menu Item</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_for(@link_type, validate: true) do |f| %>
                <% if @link_type.errors.any? %>
                  <div id="error_explanation" class="change_error_explanation">
                    <h2><%= pluralize(@link_type.errors.count, "error") %> prohibited this link_type from being saved:</h2>

                    <ul>
                    <% @link_type.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= f.label :name,"Menu Items" %><br>
                  <%= f.text_field :name,:class => "form-control" %>
                </div><br/>
                <div class="actions">
                  <%= f.submit "Update",:class => "btn btn-primary pull-right"%>
                </div>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->



<script>
$(function() { $('form[data-validate]').validate(); })
</script>