
<section class="content-header">
    <h1>
      Menu Items
      <small>Customize your page-menu display</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Menu Items" data-content="Add Links To Specific Sections Of Your Site & Customize Your Website's View & Experience." data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Menu Items</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">List of Menu Items</h3>

                <%= link_to 'Name Your Menu Item', new_link_type_path,:style => "float:right",:class => "btn btn-sm btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @link_types.present? %>
                  <table class="table table-bordered table-hover dataTable" id="link_type_table">
                    <thead>
                      <tr>
                        <th>Menu Items</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @link_types.each do |link_type| %>
                        <tr>
                          <td><%= link_type.name %></td>
                          <td>
                            <span class="label label-info">
                            <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, link_type %>
                            </span>&nbsp;
                            <span class="label label-success">
                            <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_link_type_path(link_type) %>
                            </span>&nbsp;
                            <span class="label label-danger">
                            <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, link_type, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">There Are No Links To Display Right Now.</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->


<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [1],
            "bSortable": false
        }
    ];
    var dataTable = $('#link_type_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>
<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>