<section class="content-header"> 
	<h1>
	  Menu Item
	  <small>Customize your page-menu display</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Menu Items', link_types_path %></li>
	  <li class="active"><%= @link_type.name %></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @link_type.name %></h3>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_link_type_path(@link_type),:style=>"float:right;" %>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <% if @link_type.pages.present? %>
                <ol class="sortable_tree"  data-max_levels = 5 data-rebuild_url = "<%= rebuild_link_types_url %>" } } >
                 <%= sortable_tree @link_type.page_link_types %>
                 </ol>
              <% else %>
                <div class="text-center">YOU HAVE NOT CREATED ANY PAGES UNDER THIS MENU ITEM YET</div>
              <% end %>
            </div>
            <div class="col-md-6">
              <% if @pages.present? %>
                <%= form_tag assign_link_types_path, method: :put do %>
                  <table class="table table-bordered">
                    <tbody><tr>
                      <td></td>
                      <th>Page Name</th>
                      <th>Status</th>
                    </tr>
                    <%= hidden_field_tag :id,@link_type.id %>
                    <% @pages.each do |page|%>
                      <tr>
                        <td><%= check_box_tag "page_ids[]", page.id %></td>
                        <td><%= page.title %></td>
                        <td>
                          <% if page.status == true %>
                            <span class="badge bg-green">PUBLISHED</span>
                          <% else %>
                            <span class="badge bg-yellow">DRAFT</span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody></table>
                  <%= submit_tag "Push Page to Menu" %> 
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->
