<footer class="devise_footer">
<div class="row">
<div class="col-sm-4" style="padding-top:15px;padding-left:8%;padding-bottom:15px;">Copyright &copy; <strong> Code Rabbits.</strong> All rights reserved.</div>
<div class="col-sm-5" style="padding-left:9%;padding-top:5px;"><a href="http://www.coderabbits.com"><%= image_tag "logo-coderabbits-52height.png",:style => "width:180px;" %></a></div>
<div class="col-sm-3 pull-right" style="padding-top:15px;padding-bottom:15px;">Powered by <strong><a href="http://www.coderabbits.com" style="color:white;" target="_blank">CODE RABBITS</a></strong></div>
</div>
</footer>


