<footer class="main-footer">
<div class="pull-right hidden-xs">
  <b>Version</b> 1.0.0
</div>
<strong>Copyright &copy; <%= Time.now.year %> <a href="http://www.coderabbits.com">Code Rabbits</a>.</strong> All rights
reserved.
</footer>