<!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading text-center">Settings</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-user bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading"><%= current_user.email %></h4>

                <p>Logged In as</p>
              </div>
            </a>
          </li>
          <li>
            <a href="<%= edit_user_registration_path %>" >
              <i class="menu-icon fa fa-pencil bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Profile</h4>

                <p>Edit profile</p>
              </div>
            </a>
          </li>
          <li>
            <a href="<%= destroy_user_session_path %>" data-method = "delete">
              <i class="menu-icon fa fa-power-off bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Logout</h4>

                <p>Logout Rabbitscms</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  

  <script>
  $("#control_sidebar_setting").click(function(){
      $(".control-sidebar").toggleClass("control-sidebar-open");
  });
  </script>