<!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview <%= controller_name == 'dashboards' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-dashboard"></i> <span>Dashboard</span>'.html_safe,dashboards_path %>
        </li> 
        <li class="treeview <%= controller_name == 'pages' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-files-o"></i> <span>Pages</span>'.html_safe,pages_path %>
        </li>
        <li class="treeview <%= controller_name == 'link_types' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-link"></i> <span>Menu Item</span>'.html_safe,link_types_path %>
        </li>
         <li class="treeview <%= controller_name == 'dynamic_contents' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-folder"></i> <span>Dynamic Contents</span>'.html_safe,dynamic_contents_path %>
        </li>
        <li class="treeview <%= controller_name == 'content_blocks' || controller_name == 'contents' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-book"></i> <span>Page Blocks</span>'.html_safe,content_blocks_path %>
        </li>
        <li class="treeview <%= controller_name == 'gallery_types' || controller_name == 'gallery_images' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-image"></i> <span>Media Types</span>'.html_safe,gallery_types_path %>
        </li>
        <li class="treeview <%= controller_name == 'attachments' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-file-word-o"></i> <span>Attachments</span>'.html_safe,attachments_path %>
        </li>
        <li class="treeview <%= controller_name == 'users' && action_name == 'index' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-user"></i> <span>Users</span>'.html_safe,users_path %>
        </li>
        <li class="treeview <%= controller_name == 'generals' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-gear"></i> <span>Generals</span>'.html_safe,generals_path %>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


<script>
$(document).on("page:fetch", function(){
  $(".heading_page_loader").html('<i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>');
});

</script>