Hi<br/>
You got a transportation enquiry from <b><%= @transport_name %> - <%= @transport_email %> - <%= @transport_phone %></b><br/>
<b>Pickup from </b> : <%= @transport_pickup_from %><br/>
<b>Drop to </b> : <%= @transport_drop_to %><br/>
<b>Required vehicle </b> : <%= @transport_required_vehicle %><br/>
<b>Man Power</b> : <%= @transport_man_power_count %><br/>
<b>Company name </b> : <%= @transport_company_name %><br/>
<b>Enquiry Details </b> : <%= @transport_enquiry %><br/>
