Hi<br/>
You got a secured storage enquiry from <b><%= @storage_name %> - <%= @storage_email %> - <%= @storage_phone %> </b><br/>
<b>Company name</b> : <%= @storage_company_name %> <br/>
<b>Thing need to store</b> : <%= @storage_things %><br/>
<b>Enquiry Details</b> : <%= @storage_enquiry %><br/>
