Hi<br/>
You got a movers enquiry from <b><%= @trading_name %> - <%= @trading_email %> - <%= @trading_phone %></b><br/>
<b>Pickup from </b> : <%= @trading_pickup_from %><br/>
<b>Drop to </b> : <%= @trading_drop_to %><br/>
<b>Man Power Count</b> : <%= @trading_man_power_count %><br/>
<b>Company name </b> : <%= @trading_company_name %><br/>
<b>Enquiry Details </b> : <%= @trading_enquiry %><br/>