<%= form_for(@content_block, validate: true) do |f| %>
  <% if @content_block.errors.any? %>
    <div id="error_explanation" class="change_error_explanation">
      <h2><%= pluralize(@content_block.errors.count, "error") %> prohibited this content_block from being saved:</h2>

      <ul>
      <% @content_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Page-Block Title" %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>


<script>
$(function() { $('form[data-validate]').validate(); })
</script>