  <section class="content-header">
    <h1>
      Page Blocks
      <small>Manage specific sections of the page and the contents</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Page Block" data-content="Manage & Create Specific Sections Of The Page. Edit Part-Specific Contents." data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Page Block</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Page Blocks</h3>
                <%= link_to 'CREATE NEW PAGE BLOCK', new_content_block_path,:style => "float:right",:class => "btn btn-sm btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @content_blocks.present? %>
                  <table class="table table-bordered table-hover dataTable" id="content_block_table">
                    <thead>
                      <tr>
                        <th>Page-Block Filename</th>
                        <th>Page-Block Title</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @content_blocks.each do |content_block| %>
                        <tr>
                          <td><%= content_block.slug %></td>
                          <td><%= content_block.name %></td>
                          <td>
                          <span class="label label-info">
                          <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, content_block %>
                          </span>&nbsp;
                          <span class="label label-success">
                          <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_content_block_path(content_block) %>
                          </span>&nbsp;
                          <span class="label label-danger">
                          <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, content_block, method: :delete, data: { confirm: 'Are you sure?' } %>
                          </span></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">You Haven't Created Any Page-Blocks Yet! Create Your First Now!</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->



<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [2],
            "bSortable": false
        }
    ];
    var dataTable = $('#content_block_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});
</script>


