<section class="content-header">
	<h1>
	  Page Blocks
	  <small>Manage specific sections of the page and the contents</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Page Blocks', content_blocks_path %></li>
	  <li class="active"><%= @content_block.name %></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @content_block.name %></h3>
          <%= link_to '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil"></i>'.html_safe, edit_content_block_path(@content_block),:style=>"float:right;" %>
          <%= link_to 'Create New Sub-Block'.html_safe, new_content_block_content_path(@content_block),:style=>"float:right;",:class => "btn btn-sm btn-primary" %>&nbsp;&nbsp;
          
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <% if @content_block.contents.present? %>
          <table class="table table-bordered">
            <thead>
	            <tr>
	              <th></th>
	              <th>Sub-Block Name</th>
	              <th>Sub-Block Content</th>
	              <th style="width: 40px">Remove</th>
	            </tr>
            </thead>
            <tbody id="parent-catss1" data-update-url="<%= sort_content_block_contents_path(@content_block) %>">            
                <% @content_block.contents.sort_by(&:sort_order).each do |content|%>
	              <%= content_tag_for(:tr, content) do %>
	                <td>
	                	<i class="ace-icon fa fa-arrows handle"></i>
	                </td>
	                <td><%= content.title %></td>
	                <td>
	                  <%= content.description.html_safe %>
	                </td>
	                <td>
                    <%= link_to '<i class="fa fa-eye" style="color:green;font-weight:bold"></i>'.html_safe, content_block_content_path(@content_block,content) %>
                    <%= link_to '<i class="fa fa-pencil" style="font-weight:bold"></i>'.html_safe, edit_content_block_content_path(@content_block,content) %>
	                  <%= link_to '<i class="fa fa-trash-o" style="color:#904313;font-weight:bold"></i>'.html_safe, content_block_content_path(@content_block,content), method: :delete, data: { confirm: 'Are you sure?' } %>
	                </td>
	              <% end %>
	            <% end %>
            </tbody>
          </table>
          <% else %>
            <div class="text-center">You Haven't Created Any Sub-Blocks Yet.</div>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->



<style>
 #parent-catss1 .handle{
  font-size: 12px;
  color: #777;
  cursor: move;
  width: 20px;
  cursor: move;
}
</style>
<script>
$('#parent-catss1').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});
</script>