<%= form_for(@gallery_type, validate: true) do |f| %>
  <% if @gallery_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery_type.errors.count, "error") %> prohibited this gallery_type from being saved:</h2>

      <ul>
      <% @gallery_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Media Tag Name" %><br>
    <%= f.text_field :name,:class => "form-control" %>
  </div><br/>
  <div class="field">
    <%= f.label :is_video,"Type" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :is_video, false %>
    <%= f.label :is_video, "Image", :value => "true"  %>&nbsp;&nbsp;
    <%= f.radio_button :is_video, true %>
    <%= f.label :is_video, "Video", :value => "false" %>
  </div><br/>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height,:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width,:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image_type,"Unique Media Tag" %><br>
    <%= f.text_field :image_type,:class => "form-control" %>
  </div><br/>
    <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>




<script>
$(function() { $('form[data-validate]').validate(); })
</script>