<section class="content-header">
	<h1>
	  Media Types
	  <small>Organize your media in templatized defaults</small>
	  <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Media Types', gallery_types_path %></li>
	  <li><%= link_to @gallery_type.name, gallery_type_path(@gallery_type) %></li>
	  <li class="active">Edit Gallery Type</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Media Types</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_for(@gallery_type) do |f| %>
				  <% if @gallery_type.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@gallery_type.errors.count, "error") %> prohibited this gallery_type from being saved:</h2>

				      <ul>
				      <% @gallery_type.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  <div class="field">
				    <%= f.label :name,"Media Tag Name" %><br>
				    <%= f.text_field :name,:class => "form-control" %>
				  </div><br/>
				  <div class="field">
				    <%= f.label :is_video,"Type" %>&nbsp;&nbsp;&nbsp;&nbsp;
				    <%= f.radio_button :is_video, false %>
				    <%= f.label :is_video, "Image", :value => "true"  %>&nbsp;&nbsp;
				    <%= f.radio_button :is_video, true %>
				    <%= f.label :is_video, "Video", :value => "false" %>
				  </div><br/>
				  <div class="field">
				    <%= f.label :height %><br>
				    <%= f.number_field :height,:class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :width %><br>
				    <%= f.number_field :width,:class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :image_type,"Unique Media Tag" %><br>
				    <%= f.text_field :image_type,:class => "form-control" %>
				  </div><br/>
				    <div class="actions">
				    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
				  </div>
				<% end %>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->



<script>
$(function() { $('form[data-validate]').validate(); })
</script>