<section class="content-header">
    <h1>
      Media Types
      <small>Organize your media in templatized defaults</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Page Block" data-content="Organize, Store and Curate Your Images and Video and Use Them On Your Site" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Media Types</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Media-Types</h3>

                <%= link_to 'CONFIGURE MEDIA-TYPES', new_gallery_type_path,:style => "float:right",:class => "btn btn-sm btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @gallery_types.present? %>
                  <table class="table table-bordered table-hover dataTable" id="gallery_type_table">
                    <thead>
                      <tr>
                        <th>Unique Media Tag</th>
                        <th>Media Tag Name</th>
                        <th>Height</th>
                        <th>Width</th>
                        <th>Type</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @gallery_types.each do |gallery_type| %>
                        <tr>
                          <td><%= gallery_type.image_type %></td>
                          <td><%= gallery_type.name %></td>
                          <td><%= gallery_type.height %></td>
                          <td><%= gallery_type.width %></td>
                          <td><%= gallery_type.is_video == true ? "VIDEO" : "IMAGE" %></td>
                          <td>
                            <span class="label label-info">
                            <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, gallery_type %>
                            </span>&nbsp;
                            <span class="label label-success">
                            <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_gallery_type_path(gallery_type) %>
                            </span>&nbsp;
                            <span class="label label-danger">
                            <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, gallery_type, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">No Media-Typed Configured Until Now.</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->


<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [5],
            "bSortable": false
        }
    ];
    var dataTable = $('#gallery_type_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});
</script>