<section class="content-header">
  <h1>
    Media Types
    <small>Organize your media in templatized defaults</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Media Types', gallery_types_path %></li>
    <li class="active"><%= @gallery_type.name %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @gallery_type.name %> -&nbsp;&nbsp;
            <%= @gallery_type.image_type %></h3>
          <%= link_to '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil"></i>'.html_safe, edit_gallery_type_path(@gallery_type),:style=>"float:right;" %>
          <%= link_to 'Add Media to Gallery'.html_safe, new_gallery_type_gallery_image_path(@gallery_type),:style=>"float:right;",:class => "btn btn-sm btn-primary" %>&nbsp;&nbsp;
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <p>
            <i class="fa fa-text-height"></i>&nbsp;&nbsp;<%= @gallery_type.height %>&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-text-width"></i>&nbsp;&nbsp;<%= @gallery_type.width %>&nbsp;&nbsp;
            <strong>Type</strong> - 
            <%= @gallery_type.is_video == true ? "VIDEO" : "IMAGE" %>
          </p>

          <% if @gallery_type.gallery_images.present? %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Media</th>
                <th>Alt text</th>
                <th>Link</th>
                <th>Description</th>
                <th>Title</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody id="parent-catss1" data-update-url="<%= sort_gallery_type_gallery_images_path(@gallery_type) %>">
              <% @gallery_type.gallery_images.sort_by(&:sort_order).each do |gallery_image| %>
                <%= content_tag_for(:tr, gallery_image) do %>
                  <td><i class="ace-icon fa fa-arrows handle"></i></td>
                  <td><%= image_tag gallery_image.avatar.url(:large),:style=>"width:100px;height:100px" %></td>
                  <td><%= gallery_image.alt_text %></td>
                  <td><%= gallery_image.link %></td>
                  <td><%= gallery_image.description %></td>
                  <td><%= gallery_image.title %></td>
                  <td>
                  <%= link_to '<i class="fa fa-pencil" ></i>'.html_safe, edit_gallery_type_gallery_image_path(@gallery_type,gallery_image) %>
                  <%= link_to '<i class="fa fa-trash-o" style="color:#904313;font-weight:bold"></i>'.html_safe, gallery_type_gallery_image_path(@gallery_type,gallery_image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              <% end %>
            </tbody></table>
          <% else %>
            <div class="text-center">Upload Your First Media File!</div>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->




<style>
 #parent-catss1 .handle{
  font-size: 12px;
  color: #777;
  cursor: move;
  width: 20px;
  cursor: move;
}
</style>
<script>
$('#parent-catss1').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});
</script>