  <section class="content-header">
    <h1>
      User
      <small>View all the users and options to remove them</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Users" data-content="Manage the Users" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Users</li>
    </ol>
  </section>

  <!-- /.content -->

  <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %> 
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Users</h3>

              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @users.present? %>
                <table class="table table-bordered table-hover dataTable" id="users_table">
                    <thead>
                      <tr>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @users.each do |user| %>
                        <tr>
                          <td><%= user.email %></td>
                          <td><%= user.created_at.strftime("%I:%M %p %d %b %Y") %></td>
                          <td>
                            <% if user.confirmed_at != "" %>
                              <span class="badge bg-green">Active</span>
                            <% else %>
                              <span class="badge bg-yellow">Inactive</span>
                            <% end %>
                          </td>
                          <td>
                            <span class="label label-danger">
                            <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">There is not other users to list</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [3],
            "bSortable": false
        }
    ];
    var dataTable = $('#users_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>