<%= form_for(@attachment, validate: true) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation" class="change_error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :docs %><br>
    <%= f.file_field :docs %>
  </div>
  <div class="actions">
    <%= f.submit "Upload",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>



<script>
$(function() { $('form[data-validate]').validate(); })
</script>