<section class="content-header">
    <h1>
      Attachments
      <small>Upload the files and documents you need to attach</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Attachments" data-content="Attach Files of Select Formats And Sizes To Be Made Available For Users Of Your Website" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Attachments</li>
    </ol>
  </section> 

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %> 
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Attachments</h3>

                <%= link_to 'UPLOAD ATTACHMENTS', new_attachment_path,:style => "float:right",:class => "btn btn-sm btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @attachments.present? %>
                  <table class="table table-bordered table-hover dataTable" id="attachment_table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Attachment Path</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @attachments.each do |attachment| %>
                        <tr>
                          <td><%= attachment.name %></td>
                          <td>
                            <% if attachment.image? %>
                              <%= link_to File.basename(attachment.image.path), attachment.image.url.to_s %>
                            <% end %>
                            <% if attachment.docs? %>
                              <%= link_to request.protocol + request.host_with_port + attachment.docs.url.to_s, attachment.docs.url.to_s %>
                            <% end %>
                          </td>
                          <td>
                          <span class="label label-info">
                          <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, attachment %>
                          </span>&nbsp;
                          <span class="label label-success">
                          <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_attachment_path(attachment) %>
                          </span>&nbsp;
                          <span class="label label-danger">
                          <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, attachment, method: :delete, data: { confirm: 'Are you sure?' } %>
                          </span></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">No Attachments To Display.</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->



<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [2],
            "bSortable": false
        }
    ];
    var dataTable = $('#attachment_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>