<section class="content-header">
	<h1>
	  Attachments
	  <small>Upload the files and documents you need to attach</small>
      <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Attachments', attachments_path %></li>
	  <li class="active">Attachment</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
   <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Attachment</h3>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_attachment_path(@attachment),:style=>"float:right;" %>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>
				  <strong>Name:</strong>
				  <%= @attachment.name %>
				</p>

				<p>
				  <strong>Image:</strong>
				  <% if @attachment.image.present? %>
				    <%= image_tag @attachment.image %>
				   <% else %>
				     NO IMAGE TO DISPLAY
				   <% end %>
				</p>

				<p>
				  <strong>Docs:</strong>
				  <% if @attachment.docs.present? %>
				    <%= link_to request.protocol + request.host_with_port + @attachment.docs.url.to_s, @attachment.docs.url.to_s %>
				  <% else %>
				    NO ATTACHMENTS TO DISPLAY
				  <% end %>
				</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->