<%= form_for(@pages_link_type) do |f| %>
  <% if @pages_link_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pages_link_type.errors.count, "error") %> prohibited this pages_link_type from being saved:</h2>

      <ul>
      <% @pages_link_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br>
    <%= f.number_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :link_type %><br>
    <%= f.text_field :link_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
