<p id="notice"><%= notice %></p>

<h1>Listing Pages Link Types</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Link type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages_link_types.each do |pages_link_type| %>
      <tr>
        <td><%= pages_link_type.page_id %></td>
        <td><%= pages_link_type.link_type %></td>
        <td><%= link_to 'Show', pages_link_type %></td>
        <td><%= link_to 'Edit', edit_pages_link_type_path(pages_link_type) %></td>
        <td><%= link_to 'Destroy', pages_link_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pages link type', new_pages_link_type_path %>
