<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @pages_link_type.page_id %>
</p>

<p>
  <strong>Link type:</strong>
  <%= @pages_link_type.link_type %>
</p>

<%= link_to 'Edit', edit_pages_link_type_path(@pages_link_type) %> |
<%= link_to 'Back', pages_link_types_path %>
