<%= form_for(@page, validate: true) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="change_error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,"Page Name" %><br>
    <%= f.text_field :title,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description,"Page Content" %><br>
    <%= f.cktext_area :description, :ckeditor => {filebrowserImageBrowseUrl: '/ckeditor/pictures', filebrowserImageUploadUrl: '/ckeditor/pictures', 
      :height => '800', 
      :autoParagraph => true, 
      :toolbar => "img"} %>
  </div>
  <div class="field">
    <%= f.label :meta_title,"Page Title" %><br>
    <%= f.text_field :meta_title,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br>
    <%= f.text_field :meta_description,:class=>"form-control" %>
  </div><br/>
  <div class="field">
    <%= f.label :status,"Status" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :status, true %>
    <%= f.label :status, "Publish", :value => "true"  %>&nbsp;&nbsp;
    <%= f.radio_button :status, false %>
    <%= f.label :status, "Save As Draft", :value => "false" %>
  </div><br/>
  <div class="actions">
    <%= f.submit 'SAVE',:class => "btn btn-primary pull-right" %>
  </div>
<% end %>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('page_description'); }
</script>