<section class="content-header">
	<h1>
	  Page
	  <small>View all the created pages and options to edit them</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Pages', pages_path %></li>
	  <li><%= link_to @page.title, @page %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Page</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_for(@page) do |f| %>
                <% if @page.errors.any? %>
                  <div id="error_explanation" class="change_error_explanation">
                    <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

                    <ul>
                    <% @page.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= f.label :title,"Page Name" %><br>
                  <%= f.text_field :title,:class=>"form-control" %>
                </div>
                <div class="field">
                  <%= f.label :description,"Page Content" %><br>
                  <%= f.cktext_area :description, :id => 'sometext' ,:placeholder => "Description",:class => "form-control form light-form" %>
                </div>
                <div class="field">
                  <%= f.label :meta_title,"Page Title" %><br>
                  <%= f.text_field :meta_title,:class=>"form-control" %>
                </div>
                <div class="field">
                  <%= f.label :meta_description %><br>
                  <%= f.text_field :meta_description,:class=>"form-control" %>
                </div><br/>
                <div class="field">
                  <%= f.label :status,"Status" %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.radio_button :status, true %>
                  <%= f.label :status, "Publish", :value => "true"  %>&nbsp;&nbsp;
                  <%= f.radio_button :status, false %>
                  <%= f.label :status, "Save As Draft", :value => "false" %>
                </div><br/>
                <div class="actions">
                  <%= f.submit 'SAVE',:class => "btn btn-primary pull-right" %>
                </div>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->


<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('page_description'); }
</script>