  <section class="content-header">
    <h1>
      Pages
      <small>View all the created pages and options to edit them</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Pages" data-content="Create, Edit & Manage the Pages You Have Created, Including But Not Limited To Page Names, Titles and Other Page Elements" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Pages</li>
    </ol>
  </section>

  <!-- /.content -->

  <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %> 
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Pages</h3>
                <%= link_to 'CREATE NEW PAGE', new_page_path,:style => "float:right",:class => "btn btn-sm btn-primary" %>

              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @pages.present? %>
                <table class="table table-bordered table-hover dataTable" id="pages_table">
                    <thead>
                      <tr>
                        <th>Page Name</th>
                        <th>Page File Name</th>
                        <th>Page Title</th>
                        <th>Meta description</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @pages.each do |page| %>
                        <tr>
                          <td><%= page.title %></td>
                          <td><%= page.slug %></td>
                          <td><%= sanitize(page.meta_title, :tags=>[]).truncate(30, :separator => " ").html_safe %></td>
                          <td>
                             <%= sanitize(page.meta_description, :tags=>[]).truncate(50, :separator => " ").html_safe %>
                          </td>
                          <td>
                          <% if page.status == true %>
                            <span class="badge bg-green">PUBLISHED</span>
                          <% else %>
                            <span class="badge bg-yellow">DRAFT</span>
                          <% end %>
                          </td>
                          <td>
                            <span class="label label-warning">
                            <% if page.status == true %>
                            <%= link_to '<i class="fa fa-file-powerpoint-o" style="color:white;font-weight:bold"></i>'.html_safe, page_path(page) %></span>&nbsp;
                            <% end %>
                            <span class="label label-info">
                            <%= link_to '<i class="fa fa-eye" style="color:white;font-weight:bold"></i>'.html_safe, page %>
                            </span>&nbsp;
                            <span class="label label-success">
                            <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_page_path(page) %>
                            </span>&nbsp;
                            <span class="label label-danger">
                            <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, page, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">You Are Just  A Few Clicks and A Bit Of Imagination Away From Creating Your New Page</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [5],
            "bSortable": false
        }
    ];
    var dataTable = $('#pages_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>