<section class="content-header">
  <h1>
    Page
    <small>View all the created pages and options to edit them</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Page', pages_path %></li>
    <li class="active"><%= @page.title %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @page.title %></h3>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_page_path(@page),:style=>"float:right;padding-left:10px;" %>&nbsp;
          <% if @page.status == true %>
            <span class="badge bg-green pull-right" >PUBLISHED</span>
          <% else %>
            <span class="badge bg-yellow pull-right">DRAFT</span>
          <% end %>&nbsp;&nbsp;
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <h3><%= @page.meta_title %></h3>
          <%= link_to static_page_url(@page) .html_safe, static_page_path(@page),:target => "_blank" %>
          <p><%= @page.meta_description %></p>
            
            <p>
              <%= @page.description.html_safe %>
            </p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script>
jQuery(parent).trigger('initialize:frame');
</script>