  <section class="content-header">
    <h1>
      Dashboard
      <small>Layout with collapsed sidebar on load</small>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
    </ol>
  </section>

  <!-- /.content -->

  <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><%= Page.count %></h3>

            <p>Pages</p>
          </div>
          <div class="icon">
            <i class="fa fa-files-o"></i>
          </div>
          <a href="<%= pages_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3><%= DynamicContent.count %></h3>

            <p>Dynamic Contents</p>
          </div>
          <div class="icon">
            <i class="fa fa-folder"></i>
          </div>
          <a href="<%= dynamic_contents_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3><%= ContentBlock.count %></h3>

            <p>Page Blocks</p>
          </div>
          <div class="icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="<%= content_blocks_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3><%= LinkType.count %></h3>

            <p>Menu Item</p>
          </div>
          <div class="icon">
            <i class="fa fa-link"></i>
          </div>
          <a href="<%= link_types_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
          <div class="inner">
            <h3><%= GalleryType.count %></h3>

            <p>Media Types</p>
          </div>
          <div class="icon">
            <i class="fa fa-image"></i>
          </div>
          <a href="<%= gallery_types_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
          <div class="inner">
            <h3><%= Attachment.count %></h3>

            <p>Attachments</p>
          </div>
          <div class="icon">
            <i class="fa fa-file-word-o"></i>
          </div>
          <a href="<%= attachments_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-grey">
          <div class="inner">
            <h3>1</h3>

            <p>Generals</p>
          </div>
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <a href="<%= generals_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>

</section>
<!-- /.content -->
