<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @general.logo %>
</p>

<p>
  <strong>Favicon:</strong>
  <%= @general.favicon %>
</p>

<p>
  <strong>Page title:</strong>
  <%= @general.page_title %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @general.meta_description %>
</p>

<p>
  <strong>Analytics text:</strong>
  <%= @general.analytics_text %>
</p>

<%= link_to 'Edit', edit_general_path(@general) %> |
<%= link_to 'Back', generals_path %>
