<section class="content-header">
  <h1>
    Media
    <small>Layout with collapsed sidebar on load</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><%= link_to 'Media Types', gallery_types_path %></li>
    <li><%= link_to @gallery_type.name, gallery_type_path(@gallery_type) %></li>
    <li class="active">Edit Media</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Media</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <div class="clearfix ">
              <% content_for(:head) do %>
              <script type="text/javascript" charset="utf-8">
              $(function() {
                $('#cropbox').Jcrop({
                  onChange: update_crop,
                  onSelect: update_crop,
                  setSelect: [0, 0, 100, 100],
                  aspectRatio: 0
                });
              });
              function update_crop(coords) {
                var rx = 100/coords.w;
                var ry = 100/coords.h;
                $('#preview').css({
                  width: Math.round(rx * <%= @gallery_image.avatar_geometry(:large).width %>) + 'px',
                  height: Math.round(ry * <%= @gallery_image.avatar_geometry(:large).height %>) + 'px',
                  marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                  marginTop: '-' + Math.round(ry * coords.y) + 'px'
                });
                var ratio = <%= @gallery_image.avatar_geometry(:original).width %> / <%= @gallery_image.avatar_geometry(:large).width %>;
                $("#crop_x").val(Math.round(coords.x * ratio));
                $("#crop_y").val(Math.round(coords.y * ratio));
                $("#crop_w").val(Math.round(coords.w * ratio));
                $("#crop_h").val(Math.round(coords.h * ratio));
              }
              </script>
              <% end %>

              <%= image_tag @gallery_image.avatar.url(:large), :id => "cropbox" %>

              <h4>Preview:</h4>
              <div style="width:100px; height:100px; overflow:hidden">
                <%= image_tag @gallery_image.avatar.url(:large), :id => "preview",:remote => true %>
              </div>
              <%= form_for @gallery_image,:url => gallery_type_gallery_image_path(@gallery_type,@gallery_image) do |f| %>
                <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                  <%= f.hidden_field attribute, :id => attribute %>
                <% end %><br />
                <p><%= f.submit "Crop", :class => "btn btn-default btn-xs" %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>