<section class="content-header">
	<h1>
	  Media
	  <small>Organize Your Media In Templatized Defaults</small>
	  <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	  <li><%= link_to 'Media Types', gallery_types_path %></li>
	  <li><%= link_to @gallery_type.name, gallery_type_path(@gallery_type) %></li>
	  <li class="active">Edit Media</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Media</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_for(@gallery_image, :url => gallery_type_gallery_image_path(@gallery_type.id,@gallery_image.id), validate: true ,:html => {:multipart => true}) do |f| %>
				  <% if @gallery_image.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

				      <ul>
				      <% @gallery_image.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  <div class="field">
				    <%= f.label :avatar,"Upload Media" %><br>
				    <%= f.file_field :avatar %>
				  </div>
				    <%= f.hidden_field :gallery_type_id,:value => @gallery_type.id %>
				  <div class="field">
				    <%= f.label :alt_text %><br>
				    <%= f.text_field :alt_text,:class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :link %><br>
				    <%= f.text_field :link,:class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :title %><br>
				    <%= f.text_field :title,:class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :description %><br>
				    <%= f.text_area :description,:class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
				    <%= f.text_field :tag_list,:class => "form-control" %>
				  </div><br/>
				  <div class="actions">
				    <%= f.submit "Save",:class => "btn btn-primary pull-right"%>
				  </div>
				<% end %>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->



<script>
$(function() { $('form[data-validate]').validate(); })
</script>