<section class="content-header">
  <h1>
    Media
    <small>Organize Your Media In Templatized Defaults</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><%= link_to 'Media Types', gallery_types_path %></li>
    <li><%= link_to @gallery_type.name, gallery_type_path(@gallery_type) %></li>
    <li class="active">Media</li>
  </ol>
</section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Media</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <% if @gallery_images.present? %>
                  <table class="table table-bordered table-hover dataTable" id="gallery_image_table">
                    <thead>
                      <tr>
                        <th>Avatar</th>
                        <th>Alt text</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th>Title</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @gallery_images.each do |gallery_image| %>
                        <tr>
                          <td><%= gallery_image.avatar %></td>
                          <td><%= gallery_image.alt_text %></td>
                          <td><%= gallery_image.link %></td>
                          <td><%= gallery_image.description %></td>
                          <td><%= gallery_image.title %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center">No Media-Typed Configured Until Now.</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->


<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [5],
            "bSortable": false
        }
    ];
    var dataTable = $('#gallery_image_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});
</script>