<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @gallery_image.avatar %>
</p>

<p>
  <strong>Gallery type:</strong>
  <%= @gallery_image.gallery_type_id %>
</p>

<p>
  <strong>Alt text:</strong>
  <%= @gallery_image.alt_text %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @gallery_image.sort_order %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gallery_image.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery_image.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @gallery_image.title %>
</p>
