<section class="content-header">
	<h1>
	  Dynamic Contents
	  <small>Create, edit and view all dynamic contents</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Dynamic Contents', dynamic_contents_path %></li>
	  <li><%= link_to @dynamic_content.title, dynamic_content_path(@dynamic_content) %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Dynamic Content</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_for(@dynamic_content) do |f| %>
            <% if @dynamic_content.errors.any? %>
              <div id="error_explanation" class="change_error_explanation">
                <h2><%= pluralize(@dynamic_content.errors.count, "error") %> prohibited this dynamic_content from being saved:</h2>

                <ul>
                <% @dynamic_content.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :title,"Content-Title" %><br>
              <%= f.text_field :title,:class=>"form-control" %>
            </div>
            <div class="field">
              <%= f.label :description,"Content" %><br>
              <%= f.cktext_area :description, :id => 'sometext' ,:placeholder => "Description",:class => "form light-form" %>
            </div><br/>
            <div class="actions">
              <%= f.submit "Update",:class => "btn btn-primary pull-right" %>
            </div>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>




