<section class="content-header">
	<h1>
	  Dynamic Contents
	  <small>Create, edit and view all dynamic contents</small>
	  <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Dynamic Contents', dynamic_contents_path %></li>
	  <li class="active"><%= @dynamic_content.title %></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @dynamic_content.title %></h3>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_dynamic_content_path(@dynamic_content),:style=>"float:right;" %>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p>
			  <strong>Title:</strong>
			  <%= @dynamic_content.title %>
			</p>

			<p>
			  <strong>Slug:</strong>
			  <%= @dynamic_content.slug %>
			</p>

			<p>
			  <strong>Description:</strong>
			  <%= @dynamic_content.description.html_safe %>
			</p>			
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->