<!DOCTYPE html>
<html>
  <% if controller_name == "static_pages" %>
    <head>
      <title><%= yield(:title )|| general.page_title %></title>
      <meta name="description" content="<%= yield(:meta_description) ||  general.meta_description %>">
      <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
      <%  if general.present? %>
      <%= favicon_link_tag general.favicon.url %>
      <% else %>
      <%= favicon_link_tag 'favicon.ico' %>
      <% end %> 
      <%= stylesheet_link_tag "#{$website_url}_rabbitscms_stylesheet/application.css", media: 'all' %>
      <%= yield(:css) %>
      <%= javascript_include_tag "#{$website_url}_rabbitscms_javascript/application.js" %>
      <%= csrf_meta_tags %>
      <%= yield(:head) %>
      <% if general.analytics_text.present? %>
        <%= raw(general.analytics_text) %>
      <% end %>      
    </head>
    <body  class="<%= yield(:body_class)%>" dir="ltr">
      <%= yield %>
    </body>
    <script>
      $(".man_power_required").click(function(){
          $(".man_power_count").toggle();
      })
      $(".trading_man_power_required").click(function(){
          $(".trading_man_power_count").toggle();
      })
    </script>
    <script>
      $(".trading_side_content").hide();
      $(".secured_storage_side_content").hide();
      $(".transportation_tab").click(function(){
        $(".transportation_side_content").show();
        $(".trading_side_content").hide();
        $(".secured_storage_side_content").hide();
      });
      $(".trading_tab").click(function(){
        $(".transportation_side_content").hide();
        $(".trading_side_content").show();
        $(".secured_storage_side_content").hide();
      });
      $(".secured_storage_tab").click(function(){
        $(".transportation_side_content").hide();
        $(".trading_side_content").hide();
        $(".secured_storage_side_content").show();
      });
    </script>
  <% else %>
    <head>
      <title>RabbitsCms</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= yield(:head) %>
    </head>
    <% if user_signed_in? %>
    <body class="skin-blue sidebar-mini wysihtml5-supported">
      <!-- Site wrapper -->
      <div class="wrapper" style="min-height:650px">
        <%= render "layouts/shared/header" %>
        <%= render "layouts/shared/sidebar" %>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height:580px">
          <% if user_signed_in? %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
          <% end %>
          <%= yield %>
        </div>
        <%= render "layouts/shared/footer" %>
        <%= render "layouts/shared/right_sidebar" %>
      </div>
    </body>
    <% else %>
      <meta name="robots" content="noindex, nofollow">
      <body class="hold-transition login-page"> 
        <%= render partial: "layouts/shared/flash_msg" %> 
        <%= yield %>
        <%= render "layouts/shared/devise_footer" %>
      </body>
    <% end %>
  <% end %>
</html>