<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <title>Mercury Editor</title>
    <%= stylesheet_link_tag    'mercury', 'mercury_overrides' %>
    <%= javascript_include_tag 'admin/jQuery-1.7', 'admin/mercury' %>
  </head>
  <body>
    <script type="text/javascript">
       var saveUrl = null // Set to the url that you want to save any given page to.
      var options = {
        saveStyle: 'form',  // 'form', or 'json' (default json)
        saveMethod: 'POST', // 'POST', or 'PUT', (create, vs. update -- default POST)
        visible: true     // if the interface should start visible or not (default true)
      };

      <!-- Mix in any configurations provided through Rails.application.config.mercury_config -->
      <% if Rails.application.config.respond_to?(:mercury_config) %>
        jQuery.extend(Mercury.config, <%= Rails.application.config.mercury_config.to_json.html_safe %>);
      <% end -%>

      <!-- Mix in any options for PageEditor provided through Rails.application.config.mercury_page_editor_config -->
      <% if Rails.application.config.respond_to?(:mercury_page_editor_config) %>
        jQuery.extend(options, <%= Rails.application.config.mercury_page_editor_config.to_json.html_safe %>);
      <% end -%>

      <!-- Instantiate the PageEditor -->
      new Mercury.PageEditor(saveUrl, options);
    </script>
  </body>
</html>

<script>
if (parent.Mercury) {
  parent.Mercury.on('ready', function() { 
    var link = $('#mercury_iframe').contents().find('#edit_link');
    Mercury.saveUrl = link.data('save-url'); 
    link.hide();
  });
}
</script>

